# Introduccion a Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
# instalacion de libreria
!pip install pandas

Requirement already satisfied: pandas in c:\users\gon_2\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\gon_2\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos. 

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python.

Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas.

En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

### Qué puede hacer pandas por ti?

- Cargar datos de diferentes recursos
- Búsqueda de una fila o columna en particular
- Realización de calculos estadísticos
- Processamiento de datos
- Combinar datos de múltiples recursos

# 1. Creación y Carga de Datos
---------------------------------

`Pandas` puede leer archivos de muchos tipos, csv, json, excel entre otros

Para esta seccion aprenderemos a crear un Dataframe de 0 y a leer archivos de diferentes fuentes de información.

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

### 1.1 Creación de dataframes

A partir de datos almacenados en diccionarios o listas es posible crear dataframes

`pd.Dataframe()`

In [4]:
# creación de 'df' a partir de un diccionario 
dicx= {
    "nombre": ["Rick", "Morty"],
    "apellido": ["Sanchez", "Smith"],
    "edad": [60, 14]
    }


df_rick_morty = pd.DataFrame(dicx)

# mostrando data
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [5]:
# creacion de df a partir de una lista
lista = [["Rick", "Sanchez", 60],
        ["Morty", "Smith", 14]]

# nombre de columnas
columnas= ["nombre", "apellido", "edad"]
# Ayuda para funcion -> shift + tab
df_rick_morty = pd.DataFrame(data=lista, columns = columnas)
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [6]:
# tipo de dato de dataframe 
type(df_rick_morty)

pandas.core.frame.DataFrame

### 1.2 Carga de datos a partir de fuentes de información

Pandas soporta múltiples fuentes de información entre los que estan csv , sql, json,excel, etc

Para leer un archivo siempre iniciamos con : `pd.read_`

In [7]:
## Leyendo data de un "csv" .dat .txt 

df = pd.read_csv('./src/input/primary_results.csv', sep=',') # INFIERE QUE ARCHIVO PRIMERA FILA SON NOMBRES DE COLUMNA

In [8]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [9]:
## Leyendo data de un archivo "excel"

path_ = "./src/input/fallecidos_covid.xlsx"
df_excel = pd.read_excel(path_, sheet_name='fallecidos_covid')

In [10]:
# head() -> me muestra los 5 primeros registros de mi df
df_excel.head(2)

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO
0,20210811,8ff6ea53-1467-456b-92ef-4e001ff8a2d6,20210725,65,MASCULINO,Criterio virolÃ³gico,AREQUIPA,ISLAY,PUNTA DE BOMBON,40706.0
1,20210811,71be5780-1e0d-4092-9036-af6d408d66e5,20210618,37,MASCULINO,Criterio SINADEF,PUNO,SAN ROMAN,JULIACA,211101.0

In [17]:
df_excel.shape

(197209, 10)

# 2. Exploración de la Data
-----------------------------

La exploración de datos es la etapa donde obtenemos informacion sobre la data cargada, información como: cantidad de registros, visualizar registros de la data, cantidad de columnas, tipos de datos de las columnas, nombre de columnas, etc

`shape` nos devuelve el número de filas y columnas

In [12]:
df.shape

(24611, 8)

`head` retorna los primertos 5 resultados contenidos en el dataframe (df)

In [16]:
# head retorna los primeros 5 resultados del dataframe
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

`tail` retorna los 5 últimos resultados contenidos en el dataframe (df)

In [18]:
# tail -> retorna los últimos 5 resultados del df
df.tail(6)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24605,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Marco Rubio,19,0.475
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

`dtypes` nos indica el tipo de dato para cada una de las columnas del df

In [19]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

`columns` nos indica las columnas que conforman el df

In [20]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

In [22]:
list(df.columns)

['state',
 'state_abbreviation',
 'county',
 'fips',
 'party',
 'candidate',
 'votes',
 'fraction_votes']

In [21]:
for c in df.columns:
    print(c)

state
state_abbreviation
county
fips
party
candidate
votes
fraction_votes

`describe` nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc de los datos de las columnas posibles

In [23]:
# Describe -> nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc 
# de los datos de las columnas posibles
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

# 3. Seleccionando Filas y columnas 
----------------------------

### 3.1 Seleccion de Columnas

In [24]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

In [25]:
for c in df.columns:
    print(c)

state
state_abbreviation
county
fips
party
candidate
votes
fraction_votes

Seleccionamos una columna mediante '[]' como si el dataframe fuese un diccionario

In [27]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

In [28]:
# Seleccion de una única columna
df['fraction_votes'].head()

0    0.182
1    0.800
2    0.329
3    0.647
4    0.078
Name: fraction_votes, dtype: float64

In [29]:
# tambien es posible la seleccion de este modo
# df.candidate.head()

df.state.head()

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
Name: state, dtype: object

In [30]:
# Seleccion de más de una columna
columns_select = ['state','state_abbreviation'] # colocamos en una lista las columnas que deseamos
df[columns_select].head()

     state state_abbreviation
0  Alabama                 AL
1  Alabama                 AL
2  Alabama                 AL
3  Alabama                 AL
4  Alabama                 AL

In [34]:
df["state"][2:20:2]

2     Alabama
4     Alabama
6     Alabama
8     Alabama
10    Alabama
12    Alabama
14    Alabama
16    Alabama
18    Alabama
Name: state, dtype: object

In [35]:
x=df['state'][0:10].copy()

In [36]:
x.unique()

array(['Alabama'], dtype=object)

In [37]:
df['state'].unique() # obtener valores distintos de una columna

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

### 3.2 Seleccion de Filas

In [38]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna a la izquierda del state es el index. Un dataframe tiene que tener un index, que es la manera de organizar los datos.

In [39]:
# nos indica el punto de inicio y fin del indice para el df
df.index

RangeIndex(start=0, stop=24611, step=1)

podemos seleccionar una fila mediante su index.

In [40]:
df.loc[0]

state                        Alabama
state_abbreviation                AL
county                       Autauga
fips                          1001.0
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: 0, dtype: object

**Importante:** 

df.loc selecciona por indice, no por posición. Podemos cambiar el indice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo indice tenga la misma longitud que el Dataframe

In [41]:
df2 = df.set_index("county").copy()

In [42]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [43]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

Esto va a fallar por que df2 no tiene un indice numérico.

In [44]:
df2.loc[0] # loc -> dado que el indice 0 ya no existe

KeyError: 0

Ahora podemos seleccionar por condado

In [46]:
df2.loc[["Autauga", 'Baldwin']] # seleccionamos filas cuyo indice sea 'Teton-Sublette'

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Autauga,Alabama,AL,1001.0,Republican,Ben Carson,1764,0.146
Autauga,Alabama,AL,1001.0,Republican,Donald Trump,5387,0.445
Autauga,Alabama,AL,1001.0,Republican,John Kasich,421,0.035
Autauga,Alabama,AL,1001.0,Republican,Marco Rubio,1785,0.148
Autauga,Alabama,AL,1001.0,Republican,Ted Cruz,2482,0.205
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Baldwin,Alabama,AL,1003.0,Republican,Ben Carson,4221,0.084
Baldwin,Alabama,AL,1003.0,Republican,Donald Trump,23618,0.469
Baldwin,Alabama,AL,1003.0,Republican,John Kasich,2987,0.059
Baldwin,Alabama,AL,1003.0,Republican,Marco Rubio,9703,0.193
Baldwin,Alabama,AL,1003.0,Republican,Ted Cruz,8571,0.170
Baldwin,Georgia,GA,13009.0,Democrat,Bernie Sanders,762,0.199
Baldwin,Georgia,GA,13009.0,Democrat,Hillary Clinton,3034,0.794
Baldwin,Georgia,GA,13009.0,Republican,Ben Carson,350,0.077
Baldwin,Georgia,GA,13009.0,Republican,Donald Trump,2069,0.458
Baldwin,Georgia,GA,13009.0,Republican,John Kasich,184,0.041
Baldwin,Georgia,GA,13009.0,Republican,Marco Rubio,961,0.213
Baldwin,Georgia,GA,13009.0,Republican,Ted Cruz,880,0.195
Baldwin,Maine,ME,92300026.0,Democrat,Bernie Sanders,2,0.667
Baldwin,Maine,ME,92300026.0,Democrat,Hillary Clinton,1,0.333

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar `iloc`

In [47]:
df2.iloc[100]

state                        Alabama
state_abbreviation                AL
fips                          1101.0
party                       Democrat
candidate             Bernie Sanders
votes                           4266
fraction_votes                 0.128
Name: Montgomery, dtype: object

In [48]:
df2.iloc[20:25]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Chilton,Alabama,AL,1021.0,Democrat,Bernie Sanders,289,0.246
Chilton,Alabama,AL,1021.0,Democrat,Hillary Clinton,860,0.731
Choctaw,Alabama,AL,1023.0,Democrat,Bernie Sanders,273,0.124
Choctaw,Alabama,AL,1023.0,Democrat,Hillary Clinton,1772,0.802
Clarke,Alabama,AL,1025.0,Democrat,Bernie Sanders,213,0.063

In [49]:
# volviendo el indice a su valor inicial
df2.reset_index(drop=True, inplace=True) # inplace -> se encarga de efectuar el cambio sobre el df

In [50]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

# 4. Filtrado de Información
------------------------------

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [51]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

In [52]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = df['votes']>=590502
condicion

0        False
1        False
2        False
3        False
4        False
         ...
24606    False
24607    False
24608    False
24609    False
24610    False
Name: votes, Length: 24611, dtype: bool

In [53]:
# usando la condicion como filtro
df[condicion]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`

In [57]:
condicion2 = (df.county=="Manhattan") & (df['party']=="Democrat")

columns_select = ["state","state_abbreviation","county"]

df[condicion2] #[columns_select]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

# 5. Procesadamiento de Datos
------------------------------

In [58]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

podemos usar `sort_values` para orderar el dataframe acorde al valor de una columna o múltiples columnas

In [60]:
df_sorted = df.sort_values(by=["votes","county"], ascending=[False, False])
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536

utilizaremos `groupby` para realizar agrupamientos de informacion sobre una columnas

In [61]:
df.groupby(["state", "party"])

El agrupamiento de datos implica utilizar funciones de agregacion como: `count`, `sum`, `mean`, `min`, `max` a una columna del df

In [63]:
df.groupby(["state", "party"])['votes'].sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

Es posible añadir una nueva columna al df utilizando un valor en especifico

In [65]:
# creo una columna 'nueva_columna' con el valor de 1 
df['nuevaColumna'] = 1
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [66]:
df.nuevaColumna.unique()

array([1], dtype=int64)

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [69]:
# creo una nueva columna a partir de los datos de otra

def slogan_partido(partido):
    if partido == 'Democrat':
        return "Un buen partido"
    elif partido == 'Republican':
        return "No pobres en pais rico"
    else:
        return ""

#df['columna_aumentada'] = df.nueva_columna.apply(suma)

In [72]:
#slogan_partido("Republican")

'No pobres en pais rico'

In [73]:
#df.party.unique()

In [74]:
df['slogan'] = df.party.apply(slogan_partido)

In [77]:
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,Un buen partido

In [78]:
df['letra_inicial'] = df.state_abbreviation.apply(lambda s: s[0])  # obtengo primera letra de state_abbreviation

In [79]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,Un buen partido,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,Un buen partido,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,Un buen partido,A

In [81]:
df['sumar_columnas'] = df['nuevaColumna'] + df['votes']

df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial,sumar_columnas
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A,545
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A,2388
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,Un buen partido,A,2695
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,Un buen partido,A,5291
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,Un buen partido,A,223

In [82]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

La operacion merge implica combinar 2 df a partir de uno o más valores llave o `key`

<img src='./img/merge.png'>

In [83]:
# Descargamos datos de pobreza por condado en US en https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
df_pobreza = pd.read_csv("./src/input/PovertyEstimates.csv")

In [84]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [85]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial,sumar_columnas
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A,545
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A,2388

In [86]:
# Combinando ambas fuentes de datos en un único dataframe a partir de los valores llave
df = df.merge(df_pobreza,left_on= 'fips', right_on='FIPStxt')  #.merge(df_pobreza, left_on="fips", right_on="FIPStxt")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial,sumar_columnas,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A,545,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A,2388,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,No pobres en pais rico,A,1765,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,No pobres en pais rico,A,5388,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,No pobres en pais rico,A,422,1001,12.7

Como punto general existen diferentes formas de combinar los dataframe, siendo el método `inner` el utilizado por defecto

<img src='./img/merge_tipos.png'>

Como punto final aplicamos un agrupamiento aplicando múltiples funciones de agregacion al df

In [87]:
county_votes = df.groupby(["county","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean",
    'votes': 'sum'
   }
)

In [88]:
county_votes

                      fraction_votes  PCTPOVALL_2015  votes
county    party
Abbeville Democrat          0.494000            19.1   1813
          Republican        0.166667            19.1   3667
Acadia    Democrat          0.425500            23.7   2949
          Republican        0.241750            23.7   3680
Accomack  Democrat          0.497000            20.4   2471
...                              ...             ...    ...
Zapata    Republican        0.188400            30.9     81
Zavala    Democrat          0.468000            32.0   1930
          Republican        0.000000            32.0      0
Ziebach   Democrat          0.500000            47.1    224
          Republican        0.333333            47.1    115

[3267 rows x 3 columns]

# 6. Exportación de datos
----------------------------------

`Pandas` viene equipado con una amplia gama de opciones para la exportación de información.

podemos escribir a excel, necesitamos instalar el paquete `xlwt`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [89]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial,sumar_columnas,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A,545,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A,2388,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,No pobres en pais rico,A,1765,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,No pobres en pais rico,A,5388,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,No pobres en pais rico,A,422,1001,12.7

In [90]:
import os

In [91]:
os.listdir('./src')

['input', 'out']

In [92]:
if not os.path.isdir('./src/out'):
    os.mkdir('./src/out')

In [94]:
## Expotanción con "encoding" e "index False"

path = './src/out/data_partidos.xlsx'
df.to_excel(path, sheet_name="dataProcesadaPartidos", index=False, encoding="utf-8")

#.to_excel('./src/out/data_partidos.xlsx',
#            sheet_name='data',encoding='utf-8',index=False)

In [95]:
## Exportando a csv
path = './src/out/data_partidos.csv'
df.to_csv(path, sep='|' ,index=False)

In [96]:
## Exportamos archivo a html

with open('./src/out/data.html',mode='w') as f:
    f.write(df.to_html())

In [ ]:
# df.to_csv('./out/data_partidos.csv',sep='|',encoding='utf-8',index=False)

# Ejercicios
---------------------------------------------

1. A partir de la data recien generada "data_partidos.xlsx", debemos generar un archivo que contenda unicamente la información contenida por cada uno de los estados.

In [97]:
## Exportando df a excel
df_excel = pd.read_excel('./src/out/data_partidos.xlsx',sheet_name='dataProcesadaPartidos')

In [98]:
df_excel.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes', 'nuevaColumna', 'slogan', 'letra_inicial',
       'sumar_columnas', 'FIPStxt', 'PCTPOVALL_2015'],
      dtype='object')

In [99]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nuevaColumna,slogan,letra_inicial,sumar_columnas,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,Un buen partido,A,545,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,Un buen partido,A,2388,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,No pobres en pais rico,A,1765,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,No pobres en pais rico,A,5388,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,No pobres en pais rico,A,422,1001,12.7

In [102]:
df.state.unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [104]:
if not os.path.isdir('./src/out/info_estados'):
    os.mkdir('./src/out/info_estados')

estados = df.state.unique()
for estado in estados:
    # filtrando información segun el estado
    condition = (df.state == estado)
    df2 = df[condition]
    #print(estado)
    path_final = f'./src/out/info_estados/{estado}.xlsx'
    df2.to_excel(path_final, sheet_name=estado, encoding='utf-8', index=False)